<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oops !</title>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dzhczzqwf/image/upload/v1771305693/pollroom-favicon_pcq8ms.png">
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="card">
      <h2>Poll Not Found</h2>
    </div>
  </body>
</html>
