<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oops !</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dzhczzqwf/image/upload/v1771305693/pollroom-favicon_pcq8ms.png">
    <link rel="stylesheet" href="sytle.css" />
  </head>
  <body>
    <div class="error-wrapper" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <div class="pollroom-icon">
        <img
          src="https://res.cloudinary.com/dzhczzqwf/image/upload/v1771331825/pollroom-b_1_gjxumm.png"
          alt="pollroom"
        />
      </div>

      
      <h2 style="font-family: Arial, Helvetica, sans-serif; color: #2F2F2F;">Oops! Something went wrong</h2>
    </div>
  </body>
</html>
