a {
    text-decoration: none;
    color:#4c8cff;
} 

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pollroom-icon {
    margin-bottom: 50px;
}

h2 {
    font-family: "Playwrite NZ Basic", cursive;
    color: #2F2F2F;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

form {
    background-color: #6341EE;
    padding: 20px;
    border-radius: 15px;
    width: 350px; /* add this */
}

.input{
  width:100%;
  padding:12px 14px;
  margin-bottom:12px;
  border-radius:30px;
  border:2px solid white;
  color: white;
  outline:none;
  font-size:14px;
  box-sizing: border-box;
  background-color: #6341EE;
}

.input::placeholder {
  color: white;
}

.option{
  background-color: #6341EE;
}

.addBtn{
  margin-top:5px;
  margin-bottom:20px;
  background:transparent;
  border:2px dashed rgba(255,255,255,0.7);
  color:white;
  padding:10px;
  border-radius:30px;
  width:100%;
  cursor:pointer;
  transition:.2s;
}

.addBtn:hover{
  background:rgba(255,255,255,0.1);
}

.createBtn{
  width:100%;
  padding:14px;
  border:none;
  border-radius:30px;
  font-size:16px;
  font-weight:bold;
  background:white;
  color:#5a4de0;
  cursor:pointer;
}

.createBtn:hover {
    background-color: #F9F8F6;
}


.term {
    color: #2f2f2fd4;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 180px;
}