body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.pollroom-icon {
    margin-bottom: 50px;
}

h2 {
    font-family: "Playwrite NZ Basic", cursive;
    color: #2F2F2F;
     width: 100%;
    max-width: 450px;
    text-align: center;
}
